<h1> Topic: <%= @studySession.topic %> </h1>
<h2 id="counter"></h2>
<h2> Paired: <%= @studySession.paired %></h2>
<body>
  <script type="text/javascript">
    function countdown(minutes) {
    var seconds = 60;
    var mins = minutes
    function tick() {
        var counter = document.getElementById("counter");
        var current_minutes = mins-1
        seconds--;
        counter.innerHTML = current_minutes.toString() + ":" + (seconds < 10 ? "0" : "") + String(seconds);
        if( seconds > 0 ) {
            setTimeout(tick, 1000);
        } else {
            if(mins > 1){
                countdown(mins-1);
            }
        }
    }
    tick();
  }
countdown(<%= @studySession.duration %>);
  </script>

</body>
