<main class="welcome-page">
  <section class='welcome-content'>
    <h1 class="welcome-title">Welcome to Jam Session.</h1>
    <p>This app provides you the ability to time block your study session while
      also being able to listen to music from Spotify.
    </p>
    <h3>Please Register or Log In.</h3>
    <div class="welcome-btns">
      <%= button_to "Register", "/register", class: "welcome-btn" %>
      <%= button_to "Login", "/login", class: "welcome-btn", method: :get %>
      <% if current_user %>
        <%= button_to "Connect to Spotify", spotify_login_path, class: "welcome-btn", method: :get %>
      <% end %>
    </div>
  </section>
</main>
