nav {
  align-items: center;
  background-color: black;
  display: flex;
  height: 50px;
  justify-content: space-between;
  width: 100%;
  z-index: 2;
}

.nav-link {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  margin: 20px;
}
