.column {
  float: left;
  width: 50%;
  height: -webkit-fill-available;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  height: -webkit-fill-available;
}

.stats-page {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0px 0px 0px;
}

.stats-content {
  background-color: white;
  border-radius: 6px;
  box-shadow: 10px 10px 15px #22d05d;
  padding: 20px;
  text-align: center;
  width: 60%;
}
