.column-left {
  float: left;
  width: 20%;
  height: -webkit-fill-available;
}

.column-center {
  float: left;
  width: 50%;
  height: -webkit-fill-available;
}
.column-right {
  float: left;
  width: 30%;
  height: -webkit-fill-available;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  height: -webkit-fill-available;
}


.study-page {
  float: left;
  width: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  height: -webkit-fill-available;
  width: 100%;
}


.study-content {
  background-color: white;
  border-radius: 6px;
  box-shadow: 10px 10px 15px #22d05d;
  padding: 20px;
  text-align: center;
  width: 60%;
}
.dropbtn {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
